@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
   font-family: 'Poppins', sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
.main{
  width: 100%;
  background: #23242a;
  background-position: center;
  background-size: cover;
  height: 109vh;
}
.navbar{
  width: 100%;
  height:75px;
  margin: 0 auto;
}
.logo{
  color: whitesmoke;
  font-size: 35px;
  padding-left: 25px;
  float: left;
  padding-top: 10px;
}
.menu
{
  width: 80%;
  margin: 0 auto;
  height: 70px;
}
nav{
  float: right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li{
  display: inline-block;
  margin-left: 70px;
  padding-top: 25px;
}
nav ul li a{
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover{
  color: #45f3ff;
} 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
  height: 100%;
  width: 100%;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #23242a;
  column-gap: 30px;
}
.box
{
  position: relative;
  width: 80%;
  min-height: 65%;
  height: auto;
  margin: 20px auto 0px auto;
  padding: 10px 10px; 
  overflow: auto;
  background: #1c1c1c;
  border-radius: 8px;
}
header{
  background-color: #403f3f;
}
.announcement {
    background-color: #bababa;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 30px;
}
.announcement h4 {
    margin-top: 0;
    margin-bottom: 10px;
}
.announcement p {
    margin-top: 0px;
    margin-bottom: 0;
}
.date 
{
    font-size: 12px;
    color: #636363;
    float: right;
}
.form
{
  position: absolute; 
  inset: 3px;
  background: #1d1e20;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}
.form h2
{
  color:#45f3ff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.test p
{
  color: whitesmoke;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
}
.inputBox
{
  top: -40px;
  position: relative;
  width: 500px;
  margin-top: 35px;
}
.inputBox input
{
  top: 50px;
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: whitesmoke;
  font-family:'Poppins', sans-serif;
  font-size: 0.9em;
  letter-spacing: 0.05em;
}
.checkBox{
  color: whitesmoke;
  position: relative;
}

::-webkit-input-placeholder
{
  font-family:'Poppins', sans-serif;
  color: whitesmoke;
  opacity:0.6;
}
.inputBox i
{
  position: absolute;
  top: 95px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #45f3ff;
}
.links {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  right: 0;
}
.links a {
  margin-top: 30px;
  margin-right: 60px;
  margin-left:10px;
  font-size: 0.75em;
  color: whitesmoke;
  text-decoration: none;
}
.links a:hover,
.links a:nth-child(2)
{
  color: #45f3ff;
}

#personalizedMessage {
  font-size: 18px;
  font-weight: bold;
  margin: 50px 0;
  text-align: center;
  color: whitesmoke;
}

